<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Yasuni</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <%=image_tag("logo.png") %>


  <nav class="navigation">
    <li>Home</li>
    <li>Catalog</li>
    <li>Return Policy</li>
    <li>Contact Us</li>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
