<%=form_for review do |f| %>

<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :message %><br>
  <%= f.text :price_in_cents %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</p>
